:root {
    --header-background-color: rgb(23, 2, 5);
    --cardhub-red: #D60E26;
    --cardhub-red-light: #f54c60; 
    --une-red: #d12c15;
    --une-blue: #1166ac;
    --une-green: #7abb18;
    --une-yellow: #ffce30;
    --une-black: #151515;
}
.p-button.p-component {
    background-color: var(--cardhub-red);
    border: none;
}
.p-button.p-component:hover{
    background-color: var(--cardhub-red-light);
}
body {
    margin: 0;
}